* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
}

.container div {
    position: relative;
    width: 100%;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    background-color: aqua;
}
p{
    padding: 10px;
    text-align: justify;
    background-color: azure;
}

.chapter3>span {
    top:0;
    position: sticky;
}